@import 'variables';

.card-product-item {
    margin: 8px 16px;
}
.select-all-checkbox {
    max-width: 170px;
    margin: 0 8px;
}

.product-item__name{
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    margin: 10px 10px 4px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-item__description {
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin: 10px 10px 4px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.form-stored__create-btn {
    margin: 0 8px;
}